GOOGLE_SCHOLAR_ID=2UwjVasAAAAJ
SCHOLAR_REPOSITORY_URL=git@github.com:jokersio-tsy/jokersio-tsy.github.io.git
SCHOLAR_STATS_BRANCH=google-scholar-stats
SCHOLAR_CODE_DIR=/opt/homepage-scholar
SCHOLAR_PYTHON=/opt/homepage-scholar/venv/bin/python
SCHOLAR_STATE_DIR=/var/lib/homepage-scholar
SCHOLAR_ATTEMPT_TIMEOUT=180
SCHOLAR_RETRY_DELAY=15
SCHOLARLY_TIMEOUT=30
SCHOLARLY_RETRIES=3
SCHOLAR_HTTP_PROXY=http://127.0.0.1:7897
SCHOLAR_HTTPS_PROXY=http://127.0.0.1:7897
